@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "Paket Yükle";
}
@using Gnc2.Com.Helpers

<section class="packageContent">
   
    <section class="infoArea success">
        <span>            YÜKLEŞEM İSTEĞİN İŞLEME ALINMIŞTIR.<br />            İndirimli 25 TL NAR en kısa zamanda yüklenecektir. <br />            Paketin yüklendiğinde Faturasız VINN hattına SMS ile bilgi verilecektir.<br />            Aylık 100 paketini şimdi almak için AYLIK100 yazıp <br />            2222’ye SMS atabilirsin.<br />            Detaylı bilgi için <a href="javascript:;">tıkla.</a>        </span>        <br /><br />        Kayıtlı e-posta adresin bulunmadığından ya da e-posta adresini belirtmediğin için Mesafeli Satış Sözleşmen tarafına gönderilmemiştir.
    </section>

</section>