<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="TurkcellDBw2Entities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=94.101.85.98\JSQL;initial catalog=TurkcellDBw2;user id=JSa;password=sql0103pass;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQuery" />
        <binding name="BasicHttpBinding_IGMTransaction" />
        <binding name="BasicHttpBinding_IGMTransaction1" />
        <binding name="BasicHttpBinding_IPostTransactions1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_ISmsQuery">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IGsmTransaction">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IGsmTransaction1">
          <security mode="None" />
        </binding>
        <binding name="MetadataExchangeHttpBinding_IPosTransactions">
          <security mode="None">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:18348/Query.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IQuery" contract="QuerySvc.IQuery"
        name="BasicHttpBinding_IQuery" />
      <endpoint address="http://localhost:18348/GMTransaction.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGMTransaction"
        contract="GMTransaction.IGMTransaction" name="BasicHttpBinding_IGMTransaction" />
      <endpoint address="http://wanda_w2.turkcell.com.tr/GMTransaction.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGMTransaction1"
        contract="GMTransactionSrv.IGMTransaction" name="BasicHttpBinding_IGMTransaction1" />
      <endpoint address="http://localhost:18348/PostTransactions.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPostTransactions1"
        contract="Test.IPostTransactions" name="BasicHttpBinding_IPostTransactions1" />
      <endpoint address="http://localhost:18348/SmsQuery.svc/mex" binding="wsHttpBinding"
        bindingConfiguration="MetadataExchangeHttpBinding_ISmsQuery"
        contract="Sms.ISmsQuery" name="MetadataExchangeHttpBinding_ISmsQuery" />
      <endpoint address="http://wanda_w2.turkcell.com.tr/GsmTransaction.svc/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IGsmTransaction"
        contract="Gsm.IGsmTransaction" name="MetadataExchangeHttpBinding_IGsmTransaction" />
      <endpoint address="http://localhost:18348/GsmTransaction.svc/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IGsmTransaction1"
        contract="GsmTrans.IGsmTransaction" name="MetadataExchangeHttpBinding_IGsmTransaction1" />
      <endpoint address="http://localhost:18348/PosTransactions.svc/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IPosTransactions"
        contract="PostTransactions.IPosTransactions" name="MetadataExchangeHttpBinding_IPosTransactions" />
    </client>
  </system.serviceModel>
</configuration>