@model Gnc2.Admin.Models.PanelMenuGroupModel

<section class="panel">

    <nav>
        <h2>İÇERİK YÖNETİMİ</h2>
        <a href="/Banners">Banner Yönetimi</a>
        <a href="/Campaigns">Kampanyalar</a>
        <br />
    </nav>

  
    
  
</section>

<section class="panel">

  

    <nav>
        <h2>ÜYE YÖNETİMİ</h2>
        <a href="/Users/">Üyeler</a>
        <a href="/Users/Control">Üye Kontrol</a>
        <br />
    </nav>
    
   
</section>


<section class="panel">

  
    
    <nav>
        <h2>KATALOG YÖNETİMİ</h2>
        <a href="/CatalogType/">Katalog Tipleri</a>
        <a href="/CatalogCategories/">Kategoriler</a>
        <a href="/Catalogs/">Ürünler</a>
         <br />
    </nav>
   
  
</section>


<section class="panel">

   
   
    <nav>
         <h2>PANEL YÖNETİMİ</h2>
        <a href="/AdminUser">Yöneticiler</a>
    </nav>
</section>



@*İÇERİK YÖNETİMİ
  Banner Yönetimi
  Kampanyalar

ÜYE YÖNETİMİ
  Üyeler  
  
KATALOG YÖNETİMİ
  Ürünler
  
PANEL YÖNETİMİ
  Yöneticiler*@
