@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "TL Yükle";
}
@using Gnc2.Com.Helpers

<section class="packageContent">
   
    <section class="infoArea success">
        <span>YÜKLEME İSTEĞİN İŞLEME ALINMIŞTIR.<br />        Kredi kartından 0534 728 1182 numaralı hatta 20,0 TL en kısa zamanda         yüklenecek ve TL yüklediğin numaraya SMS ile bilgi verilecektir.        </span>        <br /><br />        Kayıtlı e-posta adresin bulunmadığından ya da e-posta        adresini belirtmediğin için Mesafeli Satış Sözleşmen tarafına        gönderilmemiştir.
    </section>

</section>