@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
    ViewBag.Title = "TL Yükle";
}
@using Gnc2.Com.Helpers

<section class="packageContent">
   
    <section class="infoArea">
        <span>İşlemini tamamlamak için yeni açılan ekranda <br />        kredi kartına ait 3D güvenlik şifreni gir.</span>        <br /><br />        Şifrenle ilgili tüm problemler için bankanın <br />        Müşteri Hİzmetleri’ni arayarak bilgi alabilirsin.<br />        Şifre ve bilgilerinin doğrulama işlemi onaylandıktan sonra <br />        sonucu bu ekrandan görebilirsin.
    </section>

</section>