@using Gnc2.Com.Helpers

<section class="boxMedium fReg fLeft">
    <h3 class="boxTitle">NASIL KAZANÇLI ÇIKARIM</h3>

    <section class="boxContent">

        <section class="campaing">
            <a href="javascript:;" style="background-image:url('@PathHelper.UrlStatic/images/banners/campaing1.jpg')"></a>
        </section>

        <section class="campaing">
            <a href="javascript:;" style="background-image:url('@PathHelper.UrlStatic/images/banners/campaing2.jpg')"></a>
        </section>

        <section class="campaing">
            <a href="javascript:;" style="background-image:url('@PathHelper.UrlStatic/images/banners/campaing3.jpg')"></a>
        </section>

        <section class="share">
            <section class="top">
                <label class="text text1">PAYLAŞ</label>
                <label class="text text2">100 PUAN</label>
                <label class="text text3">KAZAN</label>
            </section>
            <a href="javascript:;" class="fb"></a>
            <a href="javascript:;" class="tw"></a>
        </section>

    </section>
</section>