<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="appConnection" connectionString="metadata=res://*/srvBridgeDb.csdl|res://*/srvBridgeDb.ssdl|res://*/srvBridgeDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.210.54.57,63981;initial catalog=wanda_wsrvlocator;persist security info=True;user id=wanda_game;password=Qwert99!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--
        PLATFORM CODES
        Development = 1,
        Stable = 2,
        Prp = 3,
        Production = 4
    -->
    <add key="Platform" value="1" />
    <add key="ActiveDbConnection" value="appConnection" />
    <add key="PushInterval" value="15" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>