@{     
    Layout = null;
}
@using Gnc2.Com.Helpers

<footer id="gnc2Footer">
    <section class="gnc2Container">
        <section class="gencaverMascot">
            <a href="javascript:;" class="fReg">
                <span class="title">GENCAVER SENİN İÇİN &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;BURADA!</span>
                <span class="text">HATTIN VE GNCTRKCLL<br />İLE İLGİLİ SORMAK İSTEDİğİN<br /> HER ŞEYİ, HER ZAMAN <br />BANA YAZABİLİRSİN<span class="arrow"></span></span>
            </a>
        </section>

        <section class="navMenu">
            <ul class="menuTemsilciler">
                <li class="navMenuTitle fReg">TEMSİLCİLER</li>
                <li><a href="javascript:;">Müzik</a></li>
                <li><a href="javascript:;">Sinema</a></li>
                <li><a href="javascript:;">Teknoloji</a></li>
                <li><a href="javascript:;">Etkinlik</a></li>
                <li><a href="javascript:;">Alışveriş</a></li>
                <li><a href="javascript:;">Kariyer</a></li>
            </ul>

            <ul class="menuTarifeler">
                <li class="navMenuTitle fReg">TARİFELER</li>
                <li><a href="javascript:;">Genç Tarife</a></li>
                <li><a href="javascript:;">Genç Plus Tarife</a></li>
                <li><a href="javascript:;">Ben Yaptım 500</a></li>
                <li><a href="javascript:;">Ben Yaptım 700</a></li>
            </ul>

            <ul class="menuHesapOrtada">
                <li class="navMenuTitle fReg">HESAP ORTADA</li>
                <li><a href="javascript:;">Müzik</a></li>
                <li><a href="javascript:;">Sinema</a></li>
                <li><a href="javascript:;">Teknoloji</a></li>
                <li><a href="javascript:;">Etkinlik</a></li>
                <li><a href="javascript:;">Alışveriş</a></li>
                <li><a href="javascript:;">Kariyer</a></li>
            </ul>

            <ul class="menuGnc2">
                <li class="navMenuTitle fReg">GNC2</li>
                <li><a href="javascript:;">Dashboard</a></li>
                <li><a href="javascript:;">GNCPUAN Sistemi</a></li>
                <li><a href="javascript:;">Fırsatlar</a></li>
                <li><a href="javascript:;">Badges</a></li>
            </ul>
        </section>
            
    </section>

    <section class="bottom">
        <section class="gnc2Container">
            <section class="left fReg">GNCTRKCLL 2013</section>
            <section class="right">
                <nav class="navLink">
                    <a href="javascript:;">Bize Ulaşın</a>
                    <a href="javascript:;">GNCTRKCLL'Lİ OL!</a>
                    <a href="javascript:;">Gizlilik Politikası</a>
                </nav>
                <nav class="navSocial">
                    <a href="javascript:;" class="fb"></a>
                    <a href="javascript:;" class="tw"></a>
                    <a href="javascript:;" class="yt"></a>
                    <a href="javascript:;" class="rss"></a>
                </nav>
            </section>
        </section>
    </section>

</footer>