<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="appConnection" connectionString="metadata=res://*/srvBridgeDb.csdl|res://*/srvBridgeDb.ssdl|res://*/srvBridgeDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.210.54.57,63981;initial catalog=wanda_wsrvlocator;persist security info=True;user id=wanda_game;password=Qwert99!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <!--
        PLATFORM CODES
        Development = 1,
        Stable = 2,
        Prp = 3,
        Production = 4
    -->
    <add key="Platform" value="4"/>
    <add key="ActiveDbConnection" value="appConnection"/>
    <add key="PermissionServiceId" value="15" />
    <add key="PermissionServiceSourceId" value="115" />
    <add key="PennaUsername" value="WANDADIGITAL" />
    <add key="PennaPassword" value="w@4!?D9tl" />
  </appSettings>

  <!--<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>-->

  <system.serviceModel>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="True" aspNetCompatibilityEnabled="True" />
    
    <services>
      <service name="wSrvLocatorLibrary.PermissionQueryService" behaviorConfiguration="SecureTransportBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="wSrvLocatorLibrary.IPermissionQueryService" />
      </service>

      <service name="wSrvLocatorLibrary.SmsService" behaviorConfiguration="SecureTransportBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="wSrvLocatorLibrary.ISmsService" />
      </service>

      <service name="wSrvLocatorLibrary.ClubMembershipQueryService" behaviorConfiguration="SecureTransportBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransportSecurity" contract="wSrvLocatorLibrary.IClubMembershipQueryService" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureTransportBehavior">
          <serviceMetadata httpsGetEnabled="true" httpsGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="TransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>

      <!-- Turkcell Toska Servisleri SOAP11 ve ISO8859-9 Konfigurasyonunu kullandigindan bu custom binding onlara ait. -->
      <customBinding>
        <binding name="TREncodingBinding">
          <TurkishTextMessageEncoding encoding="ISO-8859-9" messageVersion="Soap11" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <!-- Veri izni sorgulama Servisi-->
      <!-- STB 1 -->
      <endpoint address="http://extstable2.sd.turkcell.com.tr/ccrl/ws/permissionWs"
          binding="basicHttpBinding"
          contract="PermissionServicesStb2.PermissionWebServicePortType"
          name="PermissionServiceSTB" />

      <!-- PRP -->
      <endpoint address="http://extprpws.turkcell.com.tr/ccrl/ws/permissionWs"
          binding="basicHttpBinding"
          contract="PermissionServicesStb2.PermissionWebServicePortType"
          name="PermissionServicePRP" />

      <!-- PROD -->
      <endpoint address="http://extraflats10.turkcell.com.tr/ccrl/ws/permissionWs"
          binding="basicHttpBinding"
          contract="PermissionServicesStb2.PermissionWebServicePortType"
          name="PermissionServiceProd" />
      
      <!-- Penna SMS Gonder Servisi -->
      <endpoint address="http://ws.pennabilisim.com/Events.asmx"
          binding="basicHttpBinding"
          contract="PennaSmsService.EventsSoap"
          name="PennaSmsService" />
      
      <!-- Toska Klüp Bulk Sorgulama Servisi -->
      <!-- STABLE -->
      <endpoint address="http://extstablews.sd.turkcell.com.tr:80/webServices/toskaClubMembershipSearchOperationsWs"
          binding="customBinding"
          bindingConfiguration="TREncodingBinding"
          contract="toskaClubMembershipSearchOperationsWsPort"
          name="ToskaClubMembershipBulkStable" />
      
      <!-- PROD -->
      <endpoint address="http://extstablews.sd.turkcell.com.tr:80/webServices/toskaClubMembershipSearchOperationsWs"
          binding="customBinding"
          bindingConfiguration="TREncodingBinding"
          contract="toskaClubMembershipSearchOperationsWsPort"
          name="ToskaClubMembershipBulkProd" />
    </client>

    <extensions>
      <bindingElementExtensions>
        <add name="TurkishTextMessageEncoding"
             type="Microsoft.Samples.CustomTextMessageEncoder.CustomTextMessageEncodingElement, CustomTextMessageEncoder" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>