@Helper.BodyNav(Html, "Default", false, false, false)

<section id="dynamic">

    <aside class="panel">
        @HttpContext.GetGlobalResourceObject("Global", "WelcomeMsg")
    </aside>
         
</section>