<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <!-- Buradaki configuration Obsolete. Bu degerler bu kütüphaneyi kullanan base tarafindan set ediliyor -->
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PermissionWebServiceHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://extstable1.sd.turkcell.com.tr/ccrl/ws/permissionWs" binding="basicHttpBinding" bindingConfiguration="PermissionWebServiceHttpBinding" contract="PermissionServicesStb2.PermissionWebServicePortType" name="PermissionWebServiceHttpPort" />
    </client>
  </system.serviceModel>-->
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EventsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ws.pennabilisim.com/Events.asmx" binding="basicHttpBinding"
        bindingConfiguration="EventsSoap" contract="PennaSmsService.EventsSoap"
        name="EventsSoap" />
    </client>
  </system.serviceModel>-->

  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="toskaClubMembershipSearchOperationsWsPort" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://extstablews.sd.turkcell.com.tr:80/webServices/toskaClubMembershipSearchOperationsWs"
          binding="basicHttpBinding" bindingConfiguration="toskaClubMembershipSearchOperationsWsPort"
          contract="toskaClubMembershipSearchOperationsWsPort" name="toskaClubMembershipSearchOperationsWsPort" />
    </client>
  </system.serviceModel>-->
</configuration>