@using Gnc2.Com.Helpers
<section class="menu">
    <ul class="fReg">
        <li>
            <a href="javascript:;" class="firstMenu">temsİlcİler</a>
            <section class="subMenu">
                <img src="/images/_offline/menu1_banner.jpg" />
                <section class="subMenuContainer">
                    <nav>
                        <a href="javascript:;">genel bakış</a>
                        <a href="javascript:;">hat özetİm</a>
                        <a href="javascript:;">gnc puan sİstemİ</a>
                        <a href="javascript:;">fırsatlar</a>
                        <a href="javascript:;">rozetler</a>
                    </nav>
                </section>
            </section>
        </li>
        <li>
            <a href="javascript:;">tarİfeler</a>
            <section class="subMenu">
                <img src="/images/_offline/menu1_banner.jpg" />
                <section class="subMenuContainer">
                    <nav>
                        <a href="javascript:;">fırsatlar</a>
                        <a href="javascript:;">rozetler</a>
                    </nav>
                </section>
            </section>
        </li>
        <li>
            <a href="javascript:;">hesap ortada</a>
            <section class="subMenu">
                <img src="/images/_offline/menu1_banner.jpg" />
                <section class="subMenuContainer">
                    <nav>
                        <a href="javascript:;">genel bakış</a>
                        <a href="javascript:;">Nasıl puan kazanırım?</a>
                        <a href="javascript:;">ne İşe yarar?</a>
                    </nav>
                </section>
            </section>
        </li>
        <li>
            <a href="javascript:;">gnc2</a>
            <section class="subMenu subMenuGnc2">
                <img src="/images/_offline/menu1_banner.jpg" />
                <section class="subMenuContainer">
                    <nav>
                        <a href="javascript:;">genel bakış</a>
                        <a href="javascript:;">Nasıl puan kazanırım?</a>
                        <a href="javascript:;">puanlar<br />ne İşe yarar?</a>
                        <a href="javascript:;">hat özetİm</a>
                    </nav>
                    <nav>
                        <a href="javascript:;">gnc puan sİstemİ</a>
                        <a href="javascript:;">fırsatlar</a>
                        <a href="javascript:;">rozetler</a>
                    </nav>
                </section>
            </section>
        </li>
    </ul>
</section>