<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <add name="appConnection" connectionString="metadata=res://*/srvBridgeDb.csdl|res://*/srvBridgeDb.ssdl|res://*/srvBridgeDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.210.54.57,63981;initial catalog=wanda_wsrvlocator;persist security info=True;user id=wanda_game;password=Qwert99!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <!--
        PLATFORM CODES
        Development = 1,
        Stable = 2,
        Prp = 3,
        Production = 4
    -->
    <add key="Platform" value="1"/>
    <add key="ActiveDbConnection" value="appConnection"/>
    <add key="PushInterval" value="1" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IClubMembershipQueryService" />
        <binding name="BasicHttpBinding_ISmsService" />
        <binding name="BasicHttpBinding_IPermissionQueryService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="MetadataExchangeHttpBinding_IGsmTransaction">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wanda_wsrvlocator.turkcell.com.tr/GncClubMembershipService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClubMembershipQueryService"
        contract="ClubMembershipServiceReference.IClubMembershipQueryService"
        name="BasicHttpBinding_IClubMembershipQueryService" />
      <endpoint address="http://wanda_wsrvlocator.turkcell.com.tr/GncSmsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmsService"
        contract="SmsServiceReference.ISmsService" name="BasicHttpBinding_ISmsService" />
      <endpoint address="http://wanda_wsrvlocator.turkcell.com.tr/GncPermissionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPermissionQueryService"
        contract="PermissionServiceReference.IPermissionQueryService"
        name="BasicHttpBinding_IPermissionQueryService" />
      <endpoint address="http://wanda_w2.turkcell.com.tr/GsmTransaction.svc/mex"
        binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IGsmTransaction"
        contract="GsmTransactionServiceReference.IGsmTransaction" name="MetadataExchangeHttpBinding_IGsmTransaction" />
    </client>
  </system.serviceModel>
</configuration>