@model Gnc2.Service.ServiceGameMechanics.RedeemPoints

<div>

            @if (Model.Points != null)
            {

               <div>Kullanılan Puan : @Model.Points</div>

            }
            else
            {
                    <div> Kullanılan Puan Bulunmamaktır.</div>
            }
</div>