@using System.Runtime.Remoting.Messaging
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SsoResult</title>
</head>
<body>
   <script type="text/javascript">
        location.href = 'SsoCompleted';
    </script>
     @ViewBag.Msisdn
</body>
</html>
